In [94]:
import pandas as pd
import numpy as np

In [95]:
data = pd.read_csv('fifa21_raw_data.csv')
data.head()

C:\Users\HP\AppData\Local\Programs\Python\Python39\lib\site-packages\IPython\core\interactiveshell.py:3221: DtypeWarning: Columns (76) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,photoUrl,LongName,playerUrl,Nationality,Positions,Name,Age,↓OVA,POT,Team & Contract,...,A/W,D/W,IR,PAC,SHO,PAS,DRI,DEF,PHY,Hits
0,https://cdn.sofifa.com/players/158/023/21_60.png,Lionel Messi,http://sofifa.com/player/158023/lionel-messi/2...,Argentina,RW ST CF,L. Messi,33,93,93,\n\n\n\nFC Barcelona\n2004 ~ 2021\n\n,...,Medium,Low,5 ★,85,92,91,95,38,65,\n372
1,https://cdn.sofifa.com/players/020/801/21_60.png,C. Ronaldo dos Santos Aveiro,http://sofifa.com/player/20801/c-ronaldo-dos-s...,Portugal,ST LW,Cristiano Ronaldo,35,92,92,\n\n\n\nJuventus\n2018 ~ 2022\n\n,...,High,Low,5 ★,89,93,81,89,35,77,\n344
2,https://cdn.sofifa.com/players/200/389/21_60.png,Jan Oblak,http://sofifa.com/player/200389/jan-oblak/210005/,Slovenia,GK,J. Oblak,27,91,93,\n\n\n\nAtlético Madrid\n2014 ~ 2023\n\n,...,Medium,Medium,3 ★,87,92,78,90,52,90,\n86
3,https://cdn.sofifa.com/players/192/985/21_60.png,Kevin De Bruyne,http://sofifa.com/player/192985/kevin-de-bruyn...,Belgium,CAM CM,K. De Bruyne,29,91,91,\n\n\n\nManchester City\n2015 ~ 2023\n\n,...,High,High,4 ★,76,86,93,88,64,78,\n163
4,https://cdn.sofifa.com/players/190/871/21_60.png,Neymar da Silva Santos Jr.,http://sofifa.com/player/190871/neymar-da-silv...,Brazil,LW CAM,Neymar Jr,28,91,91,\n\n\n\nParis Saint-Germain\n2017 ~ 2022\n\n,...,High,Medium,5 ★,91,85,86,94,36,59,\n273

In [96]:
data.columns

Index(['photoUrl', 'LongName', 'playerUrl', 'Nationality', 'Positions', 'Name',
       'Age', '↓OVA', 'POT', 'Team & Contract', 'ID', 'Height', 'Weight',
       'foot', 'BOV', 'BP', 'Growth', 'Joined', 'Loan Date End', 'Value',
       'Wage', 'Release Clause', 'Attacking', 'Crossing', 'Finishing',
       'Heading Accuracy', 'Short Passing', 'Volleys', 'Skill', 'Dribbling',
       'Curve', 'FK Accuracy', 'Long Passing', 'Ball Control', 'Movement',
       'Acceleration', 'Sprint Speed', 'Agility', 'Reactions', 'Balance',
       'Power', 'Shot Power', 'Jumping', 'Stamina', 'Strength', 'Long Shots',
       'Mentality', 'Aggression', 'Interceptions', 'Positioning', 'Vision',
       'Penalties', 'Composure', 'Defending', 'Marking', 'Standing Tackle',
       'Sliding Tackle', 'Goalkeeping', 'GK Diving', 'GK Handling',
       'GK Kicking', 'GK Positioning', 'GK Reflexes', 'Total Stats',
       'Base Stats', 'W/F', 'SM', 'A/W', 'D/W', 'IR', 'PAC', 'SHO', 'PAS',
       'DRI', 'DEF', 'PHY', 'Hits'],
      dtype='object')

In [97]:
print(data[['Team & Contract',
 'ID',
 'Height',
 'Weight',
 'foot',
 'BOV',
 'BP',
 'Growth',
 'Joined',
 'Loan Date End',
 'Value',
 'Wage','Release Clause',]].head())
print(data[[
 'Attacking',
 'Crossing',
 'Finishing',
 'Heading Accuracy',
 'Short Passing',
 'Volleys',
 'Skill',
 'Dribbling',
 'Curve',
 'FK Accuracy',
 'Long Passing',
 'Ball Control',
 'Movement',
 'Acceleration',
 'Sprint Speed','Reactions',
 'Balance',
 'Power',
 'Shot Power','Agility',]].head())
print(data[[
 'Jumping',
 'Stamina',
 'Strength',
 'Long Shots',
 'Mentality',
 'Aggression',
 'Interceptions',
 'Positioning',
 'Vision',
 'Penalties',
 'Composure','Defending',
 'Marking','Standing Tackle',
 'Sliding Tackle',
 'Goalkeeping',
 'GK Diving',]].head())
print(data[[
 
 'GK Handling',
 'GK Kicking',
 'GK Positioning',
 'GK Reflexes',
 'Total Stats',
 'Base Stats','W/F',
 'SM',
 'A/W',
 'D/W',
 'IR',
 'PAC',
 'SHO',
 'PAS',
 'DRI',
 'DEF',
 ]].head())
print(data[[
 'PHY',
 'Hits']].head())

                                Team & Contract      ID Height  Weight   foot  \
0         \n\n\n\nFC Barcelona\n2004 ~ 2021\n\n  158023   5'7"  159lbs   Left
1             \n\n\n\nJuventus\n2018 ~ 2022\n\n   20801   6'2"  183lbs  Right
2      \n\n\n\nAtlético Madrid\n2014 ~ 2023\n\n  200389   6'2"  192lbs  Right
3      \n\n\n\nManchester City\n2015 ~ 2023\n\n  192985  5'11"  154lbs  Right
4  \n\n\n\nParis Saint-Germain\n2017 ~ 2022\n\n  190871   5'9"  150lbs  Right

   BOV   BP  Growth        Joined Loan Date End   Value   Wage Release Clause
0   93   RW       0   Jul 1, 2004           NaN  €67.5M  €560K        €138.4M
1   92   ST       0  Jul 10, 2018           NaN    €46M  €220K         €75.9M
2   91   GK       2  Jul 16, 2014           NaN    €75M  €125K        €159.4M
3   91  CAM       0  Aug 30, 2015           NaN    €87M  €370K          €161M
4   91   LW       0   Aug 3, 2017           NaN    €90M  €270K        €166.5M
   Attacking  Crossing  Finishing  Heading Accuracy  Short Passing  Volleys  \
0        429        85         95                70             91       88
1        437        84         95                90             82       86
2         95        13         11                15             43       13
3        407        94         82                55             94       82
4        408        85         87                62             87       87

   Skill  Dribbling  Curve  FK Accuracy  Long Passing  Ball Control  Movement  \
0    470         96     93           94            91            96       451
1    414         88     81           76            77            92       431
2    109         12     13           14            40            30       307
3    441         88     85           83            93            92       398
4    448         95     88           89            81            95       453

   Acceleration  Sprint Speed  Reactions  Balance  Power  Shot Power  Agility
0            91            80         94       95    389          86       91
1            87            91         95       71    444          94       87
2            43            60         88       49    268          59       67
3            77            76         91       76    408          91       78
4            94            89         91       83    357          80       96
   Jumping  Stamina  Strength  Long Shots  Mentality  Aggression  \
0       68       72        69          94        347          44
1       95       84        78          93        353          63
2       78       41        78          12        140          34
3       63       89        74          91        408          76
4       62       81        50          84        356          51

   Interceptions  Positioning  Vision  Penalties  Composure  Defending  \
0             40           93      95         75         96         91
1             29           95      82         84         95         84
2             19           11      65         11         68         57
3             66           88      94         84         91        186
4             36           87      90         92         93         94

   Marking  Standing Tackle  Sliding Tackle  Goalkeeping  GK Diving
0       32               35              24           54          6
1       28               32              24           58          7
2       27               12              18          437         87
3       68               65              53           56         15
4       35               30              29           59          9
   GK Handling  GK Kicking  GK Positioning  GK Reflexes  Total Stats  \
0           11          15              14            8         2231
1           11          15              14           11         2221
2           92          78              90           90         1413
3           13           5              10           13         2304
4            9          15              15           11         2175

   Base Stats  W/F  SM     A/W     D/W   IR  PAC  SHO  PAS  DRI  DEF
0         466  4 ★  4★  Medium     Low  5 ★   85   92   91   95   38
1         464  4 ★  5★    High     Low  5 ★   89   93   81   89   35
2         489  3 ★  1★  Medium  Medium  3 ★   87   92   78   90   52
3         485  5 ★  4★    High    High  4 ★   76   86   93   88   64
4         451  5 ★  5★    High  Medium  5 ★   91   85   86   94   36
   PHY   Hits
0   65  \n372
1   77  \n344
2   90   \n86
3   78  \n163
4   59  \n273

In [98]:
# weight cleaning
data['Weight'] = data['Weight'].str.replace('lbs', '', regex=False)
data['Weight'] = data['Weight'].astype(int)

In [99]:
# height cleaning
def height_to_float(height):
    feet, inches = height.split("'")
    inches = inches.replace('"', '')
    feet = int(feet)
    inches = int(inches)
    return feet + inches/12
data['Height'] = data['Height'].apply(height_to_float)
data['Height']

0        5.583333
1        6.166667
2        6.166667
3        5.916667
4        5.750000
           ...
18974    5.833333
18975    5.583333
18976    5.833333
18977    5.750000
18978    5.750000
Name: Height, Length: 18979, dtype: float64

In [100]:
# create 3 separated columns of year, month, date for 'joined' column

data['Joined'] = pd.to_datetime(data['Joined'])
data['Year'] = data['Joined'].dt.year
data['Month'] = data['Joined'].dt.month
data['Day'] = data['Joined'].dt.day
data[['Joined', 'Year', 'Month', 'Day']]

          Joined  Year  Month  Day
0     2004-07-01  2004      7    1
1     2018-07-10  2018      7   10
2     2014-07-16  2014      7   16
3     2015-08-30  2015      8   30
4     2017-08-03  2017      8    3
...          ...   ...    ...  ...
18974 2020-08-01  2020      8    1
18975 2020-08-01  2020      8    1
18976 2018-07-13  2018      7   13
18977 2020-08-01  2020      8    1
18978 2020-01-01  2020      1    1

[18979 rows x 4 columns]

In [101]:
# converting money column to inteegr
def money_to_integer(money):
    money = str(money)
    money = money.replace('€', '')
    lastc = money[-1]
    if lastc == 'M':
        money = money.replace('M', '')
        money = float(money)
        money = money * 1000000
    elif lastc == 'K':
        money = money.replace('K', '')
        money = float(money)
        money = money * 1000
    return int(money)
data['Value'] = data['Value'].apply(money_to_integer)
data['Wage'] = data['Wage'].apply(money_to_integer)
data['Release Clause'] = data['Release Clause'].apply(money_to_integer)
data[['Value', 'Wage', 'Release Clause']]

          Value    Wage  Release Clause
0      67500000  560000       138400000
1      46000000  220000        75900000
2      75000000  125000       159400000
3      87000000  370000       161000000
4      90000000  270000       166500000
...         ...     ...             ...
18974     35000    1000           57000
18975     60000     500          165000
18976     40000    1000           70000
18977     60000     500          165000
18978     60000     500          167000

[18979 rows x 3 columns]

In [102]:
data['W/F'] = data['W/F'].str.replace('★', '')
data['SM'] = data['SM'].str.replace('★', '')
data['IR'] = data['IR'].str.replace('★', '')
data[['W/F', 'SM', 'IR']]

      W/F SM  IR
0      4   4  5
1      4   5  5
2      3   1  3
3      5   4  4
4      5   5  5
...    .. ..  ..
18974  2   2  1
18975  2   2  1
18976  2   2  1
18977  2   2  1
18978  3   2  1

[18979 rows x 3 columns]

In [103]:
# clean hits
def string_to_array(hits):
    hits = str(hits).replace('\n', '')
#     hits = hits.split(' ')
    return hits
data['Hits'] = data['Hits'].apply(string_to_array)

data['Hits']

0        372
1        344
2         86
3        163
4        273
        ...
18974      2
18975      3
18976      3
18977      5
18978      2
Name: Hits, Length: 18979, dtype: object

In [104]:
correlation = data.corr(method='spearman')
# Define a threshold for "good" correlation
threshold = -0.7

# Stack the correlation matrix, reset the index, and filter
strong_correlations = (
    correlation
    .stack()
    .reset_index()
    .query("level_0 < level_1")
    .sort_values(by=0, ascending=False)
)

# Rename columns for readability
strong_correlations.columns = ['Column1', 'Column2', 'Correlation']

print(strong_correlations)

             Column1          Column2  Correlation
2690       Defending  Standing Tackle     0.986247
379              BOV             ↓OVA     0.985522
2691       Defending   Sliding Tackle     0.982752
2879  Sliding Tackle  Standing Tackle     0.970431
2689       Defending          Marking     0.969940
...              ...              ...          ...
275           Height         Movement    -0.625965
1769         Balance           Weight    -0.660145
3                Age               ID    -0.749968
1768         Balance           Height    -0.776110
7                Age           Growth    -0.938450

[1953 rows x 3 columns]

In [105]:
correlation[['Year']]

            Year
Age    -0.142439
↓OVA   -0.194204
POT    -0.116183
ID      0.210949
Height -0.015640
...          ...
DEF    -0.140351
PHY    -0.134317
Year    1.000000
Month   0.063390
Day     0.161066

[63 rows x 1 columns]

In [106]:
filtered = strong_correlations[strong_correlations['Correlation'].astype(float) > 0.8]
filtered

             Column1          Column2  Correlation
2690       Defending  Standing Tackle     0.986247
379              BOV             ↓OVA     0.985522
2691       Defending   Sliding Tackle     0.982752
2879  Sliding Tackle  Standing Tackle     0.970431
2689       Defending          Marking     0.969940
...              ...              ...          ...
733        Attacking        Penalties     0.804190
1857           Power       Shot Power     0.803099
1231           Curve       Long Shots     0.803023
2194      Long Shots      Total Stats     0.801606
2234       Mentality            Power     0.800431

[89 rows x 3 columns]

In [107]:

def grouping(value1, value2, groups):
    
    for group in groups:
        if value1 in group:
            group.update([value1, value2])
            return
        elif value2 in group:
            group.update([value1, value2])
            return
    # If not found in any group, create a new one
    groups.append(set([value1, value2]))
groups = []
for i, row in filtered.iterrows():
    grouping(row['Column1'], row['Column2'], groups)

groups

[{'DEF',
  'Defending',
  'Interceptions',
  'Marking',
  'Sliding Tackle',
  'Standing Tackle'},
 {'BOV', 'Base Stats', 'DRI', 'Reactions', 'Release Clause', 'Value', '↓OVA'},
 {'Attacking',
  'Ball Control',
  'Crossing',
  'Curve',
  'Dribbling',
  'FK Accuracy',
  'Finishing',
  'Long Passing',
  'Long Shots',
  'Mentality',
  'Penalties',
  'Positioning',
  'Power',
  'Short Passing',
  'Shot Power',
  'Skill',
  'Total Stats',
  'Vision',
  'Volleys'},
 {'Curve', 'Skill'},
 {'Acceleration', 'Agility', 'Balance', 'Movement', 'PAC', 'Sprint Speed'},
 {'Attacking', 'Finishing', 'Long Shots', 'Positioning', 'Volleys'},
 {'Ball Control', 'Dribbling'},
 {'Finishing', 'Positioning'},
 {'Long Passing', 'Short Passing'},
 {'Base Stats', 'DRI', 'PAS'},
 {'PHY', 'Strength'}]

In [108]:
filtered2 = strong_correlations[strong_correlations['Correlation'].astype(float) < -0.5]
filtered2

           Column1    Column2  Correlation
468         Growth  Reactions    -0.505647
1454      Movement     Weight    -0.523531
3342    Base Stats         ID    -0.523871
442         Growth       ↓OVA    -0.527397
1643       Agility     Weight    -0.530202
381            BOV         ID    -0.530679
216             ID  Reactions    -0.539535
1516  Acceleration     Height    -0.547084
190             ID       ↓OVA    -0.572733
1642       Agility     Height    -0.615727
275         Height   Movement    -0.625965
1769       Balance     Weight    -0.660145
3              Age         ID    -0.749968
1768       Balance     Height    -0.776110
7              Age     Growth    -0.938450